div {
    display: block;
}
*, *:before, *:after {
    box-sizing: border-box;
}
div.picture{
    margin: 5px;
    border: 1px solid #ccc;
    float:left;
    width: 180px;
}
div.picture:hover{
    border: 1px solid #777;
}
div.picture img {
    width:100%;
    height:auto;
}

div.desctiption {
    padding: 15px;
    text-align: center;
}